.theme {
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  width: 48px;
  border-radius: 100px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: visible;
}
.theme * {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.buttons {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  color: #000 !important;
  border-radius: 100%;
}
.theme {
  background-color: gainsboro !important;
}
